@charset "utf-8";
#header{
    text-align:center;
    border-bottom: 1px #cccccc solid;
}
#header h1{
    margin: 20px 0 20px 0;
    letter-spacing: 0.2em;
}
footer{
    text-align:right;
    border-top:1px #cccccc solid;
    padding-right: 10px;
}
footer p{
    font-size:smaller;
    font-style:italic;
}
